- button_text = @user.email_confirmed ? 'Save' : 'Confirm Email'

.profile-page
  = render "layouts/nav/home"

  %p.lead.text-center Profile

  = form_for @user, url: { action: 'update' } do |f|
    .form-fields
      .form-group
        = f.label :email, 'Your email address:'
        = f.email_field :email, placeholder: 'Email', readonly: @user.email_confirmed, class: 'form-control'
        %span We'll send you email notifications.

      .form-group
        = f.label :first_name, 'What\'s your first name?'
        = f.text_field :first_name, placeholder: 'First name', class: 'form-control'
      .form-group
        = f.label :phone, 'What\'s your phone number?'
        = f.phone_field :phone, placeholder: 'Phone number', class: 'form-control'
        %span We'll send this when you contact someone.

      .form-group
        = f.check_box :accepted_tos
        = f.label :accepted_tos, "I accept the TOS"


      .col-xs-12.col-sm-6
        = f.submit button_text, class: 'btn btn-success btn-block btn-lg'\
      .col-xs-12.col-sm-6
        - if @user.email_confirmed
          = link_to "Cancel", user_url(current_user), class: 'btn btn-danger btn-lg btn-block'
        - else
          = link_to "Cancel", root_url, class: 'btn btn-danger btn-lg btn-block'

  - if @user.email_confirmed

    = button_to 'Delete Account',
      { action: 'destroy', id: @user.id },
        class: 'btn btn-default btn-block btn-lg',
        method: 'delete',
        data: { confirm: "Are you sure? This will permanently delete your account." }
